<%= stylesheet_link_tag 'application' %>

<body>
<h1>TO DO's</h1>
<h3>Lists</h3>

<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list %>
    <%= link_to 'Edit', edit_list_path(list) %> |
      <%= link_to 'Delete', list_path(list), method: :delete %>
    </li>
  <% end %>
</ul>

<%= link_to 'Create New List', new_list_path %>

</body>
