<h1>
  <%= @project.name %> >> Lists
</h1>

<ul>
  <% @lists.each do |list| %>
    <li><%= list.name %> |
    <%= link_to 'Edit', edit_project_list_path(@project, list) %> |
    <%= link_to 'Delete', [@project, list], confirm: 'Are you sure?', method: :delete %>
    </li>
  <% end %>
</ul>

<%= link_to 'New List', new_project_list_path %>
<%= link_to 'Home', root_path %>

