<h2>
  <%= @list.name %> >> Tasks
</h2>

<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.name, task %>
      <%= link_to 'Edit', edit_task_path(task) %> |
      <%= link_to 'Delete', task_path(task), method: :delete %>
    </li>
  <% end %>
</ul>

<%= link_to 'Create New Task', new_list_task_path(@list) %> |
<%= link_to 'Home', root_path %>
