List show page, display Tasks

<h1>
  <%= @list.name %> >> Tasks
</h1>

<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.name, task %>
      <%= link_to 'Edit', edit_project_path(project) %> |
      <%= link_to 'Delete', project_path(project), method: :delete %>
      <ul>
        <% project.lists.each do |list| %>
          <li>
            <%= list.name %>
          </li>
      <% end %>
      </ul>

    </li>
  <% end %>
</ul>


<%= link_to 'Back', :back %>
