<%= form_for [:list, @note] do |f| %>
  <% if @note.errors.any? %>
  <div id="error_explanation">

    <h2>
      Sorry, please try again:
    </h2>

  <ul>
    <%= @note.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>
    <% end %>
  </ul>
  </div>
  <% end %>

  <%= f.label :comment %> <br />
  <%= f.text_field :comment %> <br />

  <%= f.submit %>
<% end %>

<%= link_to 'Back', :back %>
