<h1>
  <%= @task.name %> >> Notes
</h1>

<ul>
  <% @task.notes.each do |note| %>
    <li><%= note.comment %> |
    <%= link_to 'Edit', edit_note_path(note)%> |
      <%= link_to 'Delete', note_path(note), method: :delete %>
    </li>
  <% end %>
</ul>


<%= link_to 'Create New Note', new_list_note_path(@task) %>

<%= %>

