<h1>The To Do's App</h1>

<h2>Projects</h2>

<ul>
  <% @projects.each do |project| %>
    <li><%= project.name %> ,
    <%= project.lists.map(&:name) %>

    |
    <%= link_to 'Edit', edit_project_path(project) %> |
    <%= link_to 'Delete', project_path(project), method: :delete %>
    </li>
  <% end %>
</ul>

<p>


</p>

<%= link_to 'Create New Project', new_project_path %>
